body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html, #root, .App  {
  height: 100%;
}

.todo-region {
  margin: 0 auto;
  width: 600px;
  padding: 48px 12px;
  overflow: auto;
}

fast-design-system-provider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

fast-design-system-provider pre {
  padding: 8px;
}